@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    font-family: "Poppins", sans-serif;
  }
  p{
    Font-size: calc(0.3rem + 1vw);
  }

h2{
    Font-size: calc(.9rem + 1vw);
}

 h3{
  Font-size: calc(1.4rem + 1vw);
 }

  .img-global{
      width: 100%;
  }

/*Nav Section*/
nav{
  display: flex;
  width: 90%;
  height: 15vh;
  margin: 0 auto;
  align-items: center;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: Lato;
    Font-size: calc(.16rem + 1vw);
    text-transform: uppercase; 
    color: white ;  
}

a {
    color:white;
    text-decoration: none;
}

.logo{
    display: flex;
}

.logo p{
    font-family: Lato;
    font-weight: bold;
    Font-size: calc(.8rem + 1vw);
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0.2em;
}

.boton-login {
font-family: Lato;
width: 7em;
min-width: 5em;
height:3em;
border: 1px solid #FFFFFF;
border-radius: 6px;
background: none;
color: white;
text-transform: uppercase;
Font-size: calc(.16rem + 1vw);
}

/*Hero Section*/
.conteiner1{
    background: linear-gradient(rgb(13, 4, 97,0.9), transparent),
    url("/Landing_Page_git/img/Rectangle\ 3.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

h1 {
font-family: Lato;
font-style: Bold;
vertical-align: Center;
letter-spacing: 2%;
color: #FFFFFF;
text-transform: uppercase;
Font-size: calc(4rem + 1vw);
}


h2{
font-family: Lato;
color: #FFFFFF;
text-align: center;
}

.boton-hero{
Font-size: calc(.8rem + 1vw);
font-family: Lato;
padding: 1.2em 2em;
border: 1px solid #FFFFFF;
border-radius: 6px;
background: white;
color:#2A0280;
}

/* Overview*/

#overview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}
.overview-text{
    width: 50%;
    padding: 1.5%;
    min-width: 80vh;
}

.video-mask{
    width: 50%;
    min-width: 80vh;
    border-radius: 10px; 
    overflow: hidden; 
}

#overview h3{
font-family: Lato;
font-style: semibold;
text-align: center;
padding: 1em;
}

#overview p{
font-family: Lato;
text-align: justify;
padding: 2em;
}

/*Features*/

#features{
    background-color: #FAFAFA;
}

.container-tittle-feature{
    text-align: center;
    padding-top: 4em;

}
.features{
    display: flex;
    justify-content: space-around;
    padding: 5em;
    flex-wrap: wrap;  
}
.container{
    width: 25%;
    min-width: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
      
}

.container-text {
    background-color: #FFFFFF;
    width: 95%;
    min-width: 40vh;
    height: 50%;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);  
    transform: translate(0, -30%);
    position: relative;
    padding: 1em;
}

h4 {
display: block;
font-family: Lato;
font-style: Bold;
Font-size: calc(0.6rem + 1vw);
text-align: center;
}

.container-text p{
font-family: Lato;
font-style: Regular;
Font-size: calc(.2rem + 1vw);
text-align: center;
margin-top: 6%;
}

.container-text p span{
    color: red;
    margin-top: 2em;
}

/*downloud Section*/

.downloud{  
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
    margin: 0 auto;
    background-color: #2D1494;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-downloud{
    width: 50%;
    padding: 1.5%;
    min-width: 70vh;
}

.text-downloud h3{
    text-align: center;
}

.text-downloud p{
    text-align: justify;
    padding-top: 2em;
}

.downloud-container{
    position: relative;
    min-width: 70vh;
    width: 50%;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    }

.text-white{
    color: #FFFFFF;
    margin-top: 1em;
    text-align: justify;
}
.img-fondo{
    width: 80%;
    display: flex;
    justify-items: center;
    position: absolute;
    min-width: 200px;
    }


.img-main{
    width: 70%;
    display: flex;
    justify-items: center;
    z-index: 1;
    min-width: 160px;
    }

.logo-downloud{
   display: flex;
   justify-content: center;
   margin-top: 4em;
   justify-content: space-evenly;
}



/*contact section*/

#contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
    margin: 0 auto; 
    padding: 3em 0;
    width: 90%;
}

.container-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1em;
    min-width: 70vh;
}

.contact-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    padding: 1em;
    min-width: 70vh;
}

.contact-text p{
    margin-top: 3em;
    text-align: justify

}

.name-form{
    width: 80%;
    height: 6em;
    border-radius:6px;
    border: 1.5px solid lightslategray;
    text-indent:30px;
    Font-size: calc(0.3rem + 1vw);
      
}

.email-phone-form{
    width: 100%;
    height: 6em;
    border-radius:6px ;
    margin-top: 2.4em;
    border: 1.5px solid lightslategray;
    text-indent:30px;
    Font-size: calc(0.3rem + 1vw);
    
}

.submit-now{

width: 100%;
height: 5em;
background: #2D1494;
border: 1.5px solid #2D1494;
border-radius: 6px;
color: white;
font-family: Lato;
font-size: calc(0.3rem + 1vw);
margin-top: 2.4em;
}

.input1{
    display: flex;
    width: 100%;
}

.input2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#lastname{
    margin-left:5%;

}

/*footer*/

#footer{
    width: 100%;
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
    background-color: #FAFAFA;
}
.container-footer-glb{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.footer-container h4{

    margin-bottom: 3em;
    margin-top: 3em;
    text-align: center;

}
.footer-container p{
    text-align: start;
    font-size: calc(0.3rem + 1vw);
    margin-top: 10em;
    font-family: Lato;
}

.footer-container ul{
    list-style: none;
    font-size: calc(0.3rem + 1vw);
    
}

.copyright{
    margin: 4em 0;
    text-align: center;
}







