@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    font-family: "Poppins", sans-serif;
  }
  p{
    Font-size: 1rem;
  }

 h3{
  Font-size: 2rem;
 }

  .img-global{
      width: 100%;
  }

  
  #header-img{
    width: 100%;
}
 
  .img-icon{
      width: 9%;
  }

  .visa{
      width: 100%;

  }

/*Nav Section*/

nav{
  position: fixed;
  display: flex;
  width: 100%;
  min-height: 15vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
  z-index: 2;
  min-width: 2vw;
}

nav ul {
    display: flex;
    flex: 1 1 40em;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: Lato;
    Font-size: .8rem;
    text-transform: uppercase; 
    color: white ;  
    min-width: 2vw;
}

nav li{
    margin: 0 1.3em;

}

a {
    color:white;
    text-decoration: none;
}

.logo{
    display: flex;
    margin-left: 2rem;
}

.logo p{
    font-family: Lato;
    font-weight: bold;
    Font-size: 2rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.boton-login {
font-family: Lato;
padding: 1rem 2rem;
border: 1px solid #FFFFFF;
border-radius: .4em;
background: none;
color: white;
text-transform: uppercase;
}

/*Hero Section*/
.conteiner1{
    background: linear-gradient(rgb(13, 4, 97,0.9), transparent),
    url("/Landing_Page_git/img/Rectangle\ 3.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 70vh;
}

h1 {

font-family: Lato;
color: #FFFFFF;
text-transform: uppercase;
Font-size: 5rem;
margin-top: 5rem;
}

h2 {
font-family: Lato;
color:white;
text-align: center;
Font-size: 2rem;
}

.boton-hero{
Font-size: 1rem;
font-family: Lato;
padding: .8em 1.5em;
border: 1px solid #FFFFFF;
border-radius: .4em;
background: white;
color:#2A0280;
}

/* Overview*/

#overview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    min-height: 50vh;
}

.overview-text{
    width: 50%;
    min-width:280px;  

}

.video-mask{
    width: 50%;
    min-width:280px;
    height: 50vh;
    min-height: 50vh;
    border-radius: 1.5%; 
    overflow: hidden;
    margin-top: 2em;
}


#overview h3{
font-family: Lato;
font-style: semibold;
text-align: center;
margin-top: 1em;
}

#overview p{
font-family: Lato;
text-align: justify;
margin: 2em 2em;
}

/*Features*/

#features{
    background-color: #FAFAFA;
}

.container-tittle-feature{
    text-align: center;
    padding-top: 2%;

}
.features{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    flex-wrap: wrap;  
}


.container{
    width: 25%;
    min-width:280px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-text {
    background-color: #FFFFFF;
    width: 95%;
    min-width: 10vw;
    height: 13vw;
    border-radius: 1em;
    margin: auto;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);  
    transform: translate(0, -30%);
    position: relative;
    padding: 1em;
}

h4 {
display: block;
font-family: Lato;
font-style: Bold;
Font-size: 1.2rem;
text-align: center;
}

#features h3 {
  margin: 1%;
    }

.container-text p{
font-family: Lato;
font-style: Regular;
Font-size: 1.1rem;
text-align: center;
margin-top: 1em;
}

.container-text p span{
    color: red;
    margin-top: 2em;
}

/*downloud Section*/

.downloud{  
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
    margin: 0 auto;
    background-color: #2D1494;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-downloud{
    width: 50%;
    padding: 1.5%;
    min-width:280px;
}

.text-downloud h3{
    text-align: center;
    color: white;
}

.text-downloud p{
    text-align: justify;
    padding-top: 2em;
    color: white;
    margin-top: 1em;
}

.downloud-container{
    position: relative;
    min-width:280px;
    width: 50%;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    }

.img-fondo{
    width: 80%;
    display: flex;
    justify-items: center;
    position: absolute;
    min-width: 200px;
    }


.img-main{
    width: 70%;
    display: flex;
    justify-items: center;
    z-index: 1;
    min-width: 160px;
    }

.logo-downloud{
   display: flex;
   justify-content: center;
   margin-top: 4em;
   justify-content: space-evenly;
}

/*contact section*/

#contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
    margin: 0 auto; 
    padding: 3em 0;
    width: 90%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 1em;
    min-width:280px;
}

.contact-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    padding: 1em;
    min-width:280px;
}

.contact-text p{
    margin-top: 3%;
    text-align: justify;
    padding: 2%;

}

.name-form{
    width: 80%;
    height: 4em;
    border-radius: .6em;
    border: 1.5px solid lightslategray;
    text-indent:2em;
    Font-size: 1.4vw;
      
}

.email-phone-form{
    width: 100%;
    height: 4em;
    border-radius: .6em;
    margin-top: 2.4em;
    border: 1.5px solid lightslategray;
    text-indent:5%;
    Font-size: 1.4vw;
}

.submit-now{

width: 100%;
height: 4em;
background: #2D1494;
border: 1.5px solid #2D1494;
border-radius: .6em;
color: white;
font-family: Lato;
Font-size: .8rem;
margin-top: 2.4em;
}

.input1{
    display: flex;
    width: 100%;
}

.input2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#lastname{
    margin-left:5%;

}

/*footer*/

#footer{
    width: 100%;
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
    background-color: #FAFAFA;
}
.container-footer-glb{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.footer-container h4{

    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;

}

.footer-container ul{
    list-style: none;
    font-size: calc(0.3rem + 1vw);
    text-align: start;
    font-family: Lato;
    
}

.copyright{
    margin: 4% 0;
    text-align: center;
    font-size: calc(0.3rem + 1vw);
}

.copyright p{
    font-size: calc(0.3rem + 1vw);
}

@media screen and (max-width: 826px) {


    h1{
        font-size: 4rem;
        margin-top: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

     .logo{

        margin-top: 5em;
     }
     
    .logo p{
        font-family: Lato;
        font-weight: bold;
        Font-size: 1.7rem;
        text-transform: uppercase;
        color: #FFFFFF;
    }


    nav{
        flex-direction: column;
        height: 15vh;
    }

    nav ul{

        margin-top: 1rem;
        display: flex;
       
     
    }

    .boton-login {
        padding: .5rem;
        margin-top: 1.2rem;
        margin-right: 0px;
        }

        .container-text {
            height: 40vw;
        }

            h3{
                font-size: 1.7rem;

            }

            p{
               font-size: .8rem;
                
            }

            h1{
                margin-top: 10rem;
            }

            @media screen and (max-width: 438px) {

h1{
        font-size: 3.3rem;
    }

    h2{
        font-size: 1.3rem;
    }

    nav li{
        margin: 0 .7em;
    }

    nav ul{
        flex-wrap:wrap;
    }

}

@media screen and (max-width: 365px) {

    h1{font-size: 3rem;}

}
}

@media screen and (max-width: 1275px) {

    .container-text {
        
        height: 25vh;
    }
    
}

